/* Quuando clicar no login o formulário irá se deslocar para para baixo */

/*Input submit/Cadastrar*/
form .btn-login{
    animation: move;
    animation-duration: 500ms;
    animation-delay: 1100ms;
    animation-fill-mode: backwards;
}

/* Essa classe é adicionada no login de formuláio através do JS */
.form-paraBaixo{
    animation: paraBaixo;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    /*Adiciona um efeito de tempo na saída do formulário*/
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /*animation-timing-function: cubic-bezier(0, 1.2, 0.6, 0.2);*/

}

form .error-validacao{
    animation: vibracao 500ms;

}



/* Função que faz o formulário de login ir para baixo*/
@keyframes paraBaixo{
    from{  
        transform: translateY(0);

    }
    to{
        transform: translateY(100vh);
        /*vh = Animation view hate */

    }

}

/*Efeito de vibração de tela. Possue 4 estado Cima, baixo, direita, esquerda */
@keyframes vibracao{
    0%{
        transform: translateX(0);

    }
    35%{
        transform: translateX(-15%);

    }
    75%{
        transform: translateX(15%);

    }
    100%{
        transform: translate(0);
    }

}